In [1]:
import pandas as pd
wc = pd.read_csv('worldcups.csv')
wcmatch = pd.read_csv('wcmatches.csv')
wc

,year,host,winner,second,third,fourth,goals_scored,teams,games,attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,434000
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,395000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,483000
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000
4,1954,Switzerland,West Germany,Hungary,Austria,Uruguay,140,16,26,943000
5,1958,Sweden,Brazil,Sweden,France,West Germany,126,16,35,868000
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,776000
7,1966,England,England,West Germany,Portugal,Soviet Union,89,16,32,1614677
8,1970,Mexico,Brazil,Italy,West Germany,Uruguay,95,16,32,1673975
9,1974,Germany,West Germany,Netherlands,Poland,Brazil,97,16,38,1774022
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1610215
11,1982,Spain,Italy,West Germany,Poland,France,146,24,52,1856277
12,1986,Mexico,Argentina,West Germany,France,Belgium,132,24,52,2407431
13,1990,Italy,West Germany,Argentina,Italy,England,115,24,52,2527348
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3568567
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2859234
16,2002,"Japan, South Korea",Brazil,Germany,Turkey,South Korea,161,32,64,2724604
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3367000
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,2167984
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3441450
20,2018,Russia,France,Croatia,Belgium,England,169,32,64,3031768

In [2]:
wcmatch[wcmatch['year'] == 1930]

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
0,1930,Uruguay,Montevideo,Group 1,France,Mexico,4,1,H,NaN,France,Mexico,1930-07-13,Jul,Sunday
1,1930,Uruguay,Montevideo,Group 4,Belgium,United States,0,3,A,NaN,United States,Belgium,1930-07-13,Jul,Sunday
2,1930,Uruguay,Montevideo,Group 2,Brazil,Yugoslavia,1,2,A,NaN,Yugoslavia,Brazil,1930-07-14,Jul,Monday
3,1930,Uruguay,Montevideo,Group 3,Peru,Romania,1,3,A,NaN,Romania,Peru,1930-07-14,Jul,Monday
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,H,NaN,Argentina,France,1930-07-15,Jul,Tuesday
5,1930,Uruguay,Montevideo,Group 1,Chile,Mexico,3,0,H,NaN,Chile,Mexico,1930-07-16,Jul,Wednesday
6,1930,Uruguay,Montevideo,Group 2,Bolivia,Yugoslavia,0,4,A,NaN,Yugoslavia,Bolivia,1930-07-17,Jul,Thursday
7,1930,Uruguay,Montevideo,Group 4,Paraguay,United States,0,3,A,NaN,United States,Paraguay,1930-07-17,Jul,Thursday
8,1930,Uruguay,Montevideo,Group 3,Uruguay,Peru,1,0,H,NaN,Uruguay,Peru,1930-07-18,Jul,Friday
9,1930,Uruguay,Montevideo,Group 1,Argentina,Mexico,6,3,H,NaN,Argentina,Mexico,1930-07-19,Jul,Saturday
10,1930,Uruguay,Montevideo,Group 1,Chile,France,1,0,H,NaN,Chile,France,1930-07-19,Jul,Saturday
11,1930,Uruguay,Montevideo,Group 4,Belgium,Paraguay,0,1,A,NaN,Paraguay,Belgium,1930-07-20,Jul,Sunday
12,1930,Uruguay,Montevideo,Group 2,Bolivia,Brazil,0,4,A,NaN,Brazil,Bolivia,1930-07-20,Jul,Sunday
13,1930,Uruguay,Montevideo,Group 3,Uruguay,Romania,4,0,H,NaN,Uruguay,Romania,1930-07-21,Jul,Monday
14,1930,Uruguay,Montevideo,Group 1,Argentina,Chile,3,1,H,NaN,Argentina,Chile,1930-07-22,Jul,Tuesday
15,1930,Uruguay,Montevideo,Semifinals,Argentina,United States,6,1,H,NaN,Argentina,United States,1930-07-26,Jul,Saturday
16,1930,Uruguay,Montevideo,Semifinals,Uruguay,Yugoslavia,6,1,H,NaN,Uruguay,Yugoslavia,1930-07-27,Jul,Sunday
17,1930,Uruguay,Montevideo,Final,Uruguay,Argentina,4,2,H,NaN,Uruguay,Argentina,1930-07-30,Jul,Wednesday

In [3]:
wcmatch

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
0,1930,Uruguay,Montevideo,Group 1,France,Mexico,4,1,H,NaN,France,Mexico,1930-07-13,Jul,Sunday
1,1930,Uruguay,Montevideo,Group 4,Belgium,United States,0,3,A,NaN,United States,Belgium,1930-07-13,Jul,Sunday
2,1930,Uruguay,Montevideo,Group 2,Brazil,Yugoslavia,1,2,A,NaN,Yugoslavia,Brazil,1930-07-14,Jul,Monday
3,1930,Uruguay,Montevideo,Group 3,Peru,Romania,1,3,A,NaN,Romania,Peru,1930-07-14,Jul,Monday
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,H,NaN,Argentina,France,1930-07-15,Jul,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,2018,Russia,Sochi,Quarterfinals,Russia,Croatia,2,2,A,Croatia won in penalties (4 - 3),Croatia,Russia,2018-07-07,Jul,Saturday
896,2018,Russia,Saint Petersburg,Semifinals,France,Belgium,1,0,H,NaN,France,Belgium,2018-07-10,Jul,Tuesday
897,2018,Russia,Moscow,Semifinals,Croatia,England,2,1,H,Croatia won in AET,Croatia,England,2018-07-11,Jul,Wednesday
898,2018,Russia,Saint Petersburg,Third place,Belgium,England,2,0,H,NaN,Belgium,England,2018-07-14,Jul,Saturday
899,2018,Russia,Moscow,Final,France,Croatia,4,2,H,NaN,France,Croatia,2018-07-15,Jul,Sunday

In [4]:
wc['host'] = wc['host'].str.replace('USA', 'United States')
wc['third'] = wc['third'].str.replace('USA', 'United States')
wc['host'] = wc['host'].str.replace('Japan, South Korea', 'Japan')
row = pd.DataFrame({'year':2002, 'host':'South Korea', 'winner':'Brazil', 'second':'Germany',
                    'third':'Turkey', 'fourth':'South Korea', 'goals_scored':161, 'teams':32, 'games':64, 'attendance':2724604},  index = [16.5])
wc = pd.concat([wc.iloc[:16], row, wc.iloc[16:]]).reset_index(drop=True)
wc

,year,host,winner,second,third,fourth,goals_scored,teams,games,attendance
0,1930,Uruguay,Uruguay,Argentina,United States,Yugoslavia,70,13,18,434000
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,395000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,483000
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000
4,1954,Switzerland,West Germany,Hungary,Austria,Uruguay,140,16,26,943000
5,1958,Sweden,Brazil,Sweden,France,West Germany,126,16,35,868000
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,776000
7,1966,England,England,West Germany,Portugal,Soviet Union,89,16,32,1614677
8,1970,Mexico,Brazil,Italy,West Germany,Uruguay,95,16,32,1673975
9,1974,Germany,West Germany,Netherlands,Poland,Brazil,97,16,38,1774022
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1610215
11,1982,Spain,Italy,West Germany,Poland,France,146,24,52,1856277
12,1986,Mexico,Argentina,West Germany,France,Belgium,132,24,52,2407431
13,1990,Italy,West Germany,Argentina,Italy,England,115,24,52,2527348
14,1994,United States,Brazil,Italy,Sweden,Bulgaria,141,24,52,3568567
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2859234
16,2002,South Korea,Brazil,Germany,Turkey,South Korea,161,32,64,2724604
17,2002,Japan,Brazil,Germany,Turkey,South Korea,161,32,64,2724604
18,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3367000
19,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,2167984
20,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3441450
21,2018,Russia,France,Croatia,Belgium,England,169,32,64,3031768

In [5]:
wcmatch.isnull().sum()

year                0
country             0
city                0
stage               0
home_team           0
away_team           0
home_score          0
away_score          0
outcome             0
win_conditions    838
winning_team      169
losing_team       169
date                0
month               0
dayofweek           0
dtype: int64

In [6]:
wcmatch[wcmatch['winning_team'].isnull()]

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
29,1934,Italy,Florence,Quarterfinals,Italy,Spain,1,1,D,NaN,NaN,NaN,1934-05-31,May,Thursday
35,1938,France,Paris,Round of 16,Germany,Switzerland,1,1,D,NaN,NaN,NaN,1938-06-04,Jun,Saturday
37,1938,France,Toulouse,Round of 16,Cuba,Romania,3,3,D,NaN,NaN,NaN,1938-06-05,Jun,Sunday
44,1938,France,Bordeaux,Quarterfinals,Brazil,Czechoslovakia,1,1,D,NaN,NaN,NaN,1938-06-12,Jun,Sunday
58,1950,Brazil,SÃ£o Paulo,Group 1,Brazil,Switzerland,2,2,D,NaN,NaN,NaN,1950-06-28,Jun,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,2018,Russia,Ekaterinburg,Group H,Japan,Senegal,2,2,D,NaN,NaN,NaN,2018-06-24,Jun,Sunday
870,2018,Russia,Kaliningrad,Group B,Spain,Morocco,2,2,D,NaN,NaN,NaN,2018-06-25,Jun,Monday
871,2018,Russia,Saransk,Group B,Iran,Portugal,1,1,D,NaN,NaN,NaN,2018-06-25,Jun,Monday
873,2018,Russia,Moscow,Group C,Denmark,France,0,0,D,NaN,NaN,NaN,2018-06-26,Jun,Tuesday
879,2018,Russia,Nizhny Novgorod,Group E,Switzerland,Costa Rica,2,2,D,NaN,NaN,NaN,2018-06-27,Jun,Wednesday

In [7]:
wcmatch.drop(['win_conditions', 'outcome', 'month'], inplace=True, axis=1)

In [8]:
wcmatch = wcmatch.fillna('tie')

In [9]:
wcmatch.isnull().sum()

year            0
country         0
city            0
stage           0
home_team       0
away_team       0
home_score      0
away_score      0
winning_team    0
losing_team     0
date            0
dayofweek       0
dtype: int64

In [10]:
# russia, soviet union
# germany, west germany, east germany
# ireland(does not exist in dataframe), northern ireland, republic of ireland
# fr yugoslavia, yugoslavia
# yugoslavia was divided into 7 countries which include croatia, Bosnia and Herzegovina, serbia, slovenia so we will keep yugoslavia as it is

In [11]:
wc['winner'] = wc['winner'].str.replace('West Germany', 'Germany')
wc['second'] = wc['second'].str.replace('West Germany', 'Germany')
wc['third'] = wc['third'].str.replace('West Germany', 'Germany')
wc['fourth'] = wc['fourth'].str.replace('West Germany', 'Germany')

In [12]:
wcmatch['home_team'] = wcmatch['home_team'].str.replace('Soviet Union', 'Russia')
wcmatch['away_team'] = wcmatch['away_team'].str.replace('Soviet Union', 'Russia')
wcmatch['winning_team'] = wcmatch['winning_team'].str.replace('Soviet Union', 'Russia')

wcmatch['home_team'] = wcmatch['home_team'].str.replace('East Germany', 'Germany')
wcmatch['away_team'] = wcmatch['away_team'].str.replace('East Germany', 'Germany')
wcmatch['winning_team'] = wcmatch['winning_team'].str.replace('East Germany', 'Germany')

wcmatch['home_team'] = wcmatch['home_team'].str.replace('West Germany', 'Germany')
wcmatch['away_team'] = wcmatch['away_team'].str.replace('West Germany', 'Germany')
wcmatch['winning_team'] = wcmatch['winning_team'].str.replace('West Germany', 'Germany')

wcmatch['home_team'] = wcmatch['home_team'].str.replace('Northern Ireland', 'Ireland')
wcmatch['away_team'] = wcmatch['away_team'].str.replace('Northern Ireland', 'Ireland')
wcmatch['winning_team'] = wcmatch['winning_team'].str.replace('Northern Ireland', 'Ireland')

wcmatch['home_team'] = wcmatch['home_team'].str.replace('Republic of Ireland', 'Ireland')
wcmatch['away_team'] = wcmatch['away_team'].str.replace('Republic of Ireland', 'Ireland')
wcmatch['winning_team'] = wcmatch['winning_team'].str.replace('Republic of Ireland', 'Ireland')

wcmatch['home_team'] = wcmatch['home_team'].str.replace('FR Yugoslavia', 'Yugoslavia')
wcmatch['away_team'] = wcmatch['away_team'].str.replace('FR Yugoslavia', 'Yugoslavia')
wcmatch['winning_team'] = wcmatch['winning_team'].str.replace('FR Yugoslavia', 'Yugoslavia')

In [13]:
ab = wcmatch['home_team'].unique()
ba = wcmatch['away_team'].unique()

In [14]:
ab.sort()
ba.sort()

In [15]:
country = list(set(ab) | set(ba))
country.insert(0, 'Overall')

In [16]:
country

['Overall',
 'Switzerland',
 'Bolivia',
 'Spain',
 'Croatia',
 'Italy',
 'New Zealand',
 'Israel',
 'United States',
 'Senegal',
 'Slovenia',
 'Argentina',
 'Colombia',
 'Dutch West Indies',
 'Portugal',
 'Togo',
 'Wales',
 'Germany',
 'Morocco',
 'Bosnia and Herzegovina',
 'Trinidad and Tobago',
 'Cuba',
 'Australia',
 'Haiti',
 'Romania',
 'Panama',
 'Chile',
 'Honduras',
 'Iraq',
 'Sweden',
 'Ecuador',
 'South Korea',
 'South Africa',
 'Serbia',
 'Scotland',
 'Brazil',
 'England',
 'Poland',
 'Costa Rica',
 'Canada',
 'Cameroon',
 'Bulgaria',
 'Ivory Coast',
 'Turkey',
 'Paraguay',
 'Kuwait',
 'Czech Republic',
 'Hungary',
 'France',
 'Ghana',
 'Ireland',
 'Iceland',
 'Angola',
 'Norway',
 'Denmark',
 'China PR',
 'Belgium',
 'Yugoslavia',
 'Egypt',
 'Russia',
 'United Arab Emirates',
 'Jamaica',
 'Iran',
 'Zaire',
 'Saudi Arabia',
 'Peru',
 'Nigeria',
 'Algeria',
 'Netherlands',
 'El Salvador',
 'Slovakia',
 'Mexico',
 'Uruguay',
 'Tunisia',
 'Austria',
 'North Korea',
 'Ukraine',
 'Greece',
 'Japan',
 'Czechoslovakia']

In [17]:
year = wcmatch['year'].unique().tolist()

In [18]:
year.sort()

In [19]:
year.insert(0, 'Overall')

In [20]:
year

['Overall',
 1930,
 1934,
 1938,
 1950,
 1954,
 1958,
 1962,
 1966,
 1970,
 1974,
 1978,
 1982,
 1986,
 1990,
 1994,
 1998,
 2002,
 2006,
 2010,
 2014,
 2018]

In [21]:
# Host country
def hostco(c):
    hc = wcmatch[wcmatch['country'] == c]
    return hc

In [22]:
hostco('Russia')

,year,country,city,stage,home_team,away_team,home_score,away_score,winning_team,losing_team,date,dayofweek
836,2018,Russia,Moscow,Group A,Russia,Saudi Arabia,5,0,Russia,Saudi Arabia,2018-06-14,Thursday
837,2018,Russia,Ekaterinburg,Group A,Egypt,Uruguay,0,1,Uruguay,Egypt,2018-06-15,Friday
838,2018,Russia,Saint Petersburg,Group B,Morocco,Iran,0,1,Iran,Morocco,2018-06-15,Friday
839,2018,Russia,Sochi,Group B,Portugal,Spain,3,3,tie,tie,2018-06-15,Friday
840,2018,Russia,Kazan,Group C,France,Australia,2,1,France,Australia,2018-06-16,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...
895,2018,Russia,Sochi,Quarterfinals,Russia,Croatia,2,2,Croatia,Russia,2018-07-07,Saturday
896,2018,Russia,Saint Petersburg,Semifinals,France,Belgium,1,0,France,Belgium,2018-07-10,Tuesday
897,2018,Russia,Moscow,Semifinals,Croatia,England,2,1,Croatia,England,2018-07-11,Wednesday
898,2018,Russia,Saint Petersburg,Third place,Belgium,England,2,0,Belgium,England,2018-07-14,Saturday
899,2018,Russia,Moscow,Final,France,Croatia,4,2,France,Croatia,2018-07-15,Sunday

In [23]:
win = list(wcmatch['winning_team'].unique())

In [24]:
team = list(wcmatch['home_team'].unique())

In [25]:
team1 = list(wcmatch['away_team'].unique())

In [26]:
y = [x for x in team if x not in win]
print(y)

['Bolivia', 'Egypt', 'Israel', 'El Salvador', 'Zaire', 'Haiti', 'Honduras', 'Canada', 'Iraq', 'United Arab Emirates', 'China PR', 'Trinidad and Tobago', 'Angola', 'Togo', 'New Zealand', 'Iceland', 'Panama']

In [27]:
a = [x for x in win if x not in team]
b = [x for x in win if x not in team1]
print(a, b)

['tie', 'Wales', 'Portagul'] ['tie', 'Cuba', 'Portagul']

In [28]:
wcmatch[wcmatch['winning_team'] == 'Portagul']

,year,country,city,stage,home_team,away_team,home_score,away_score,winning_team,losing_team,date,dayofweek
703,2006,Germany,Gelsenkirchen,Quarterfinals,England,Portugal,0,0,Portagul,England,2006-07-01,Saturday

In [29]:
wcmatch[wcmatch['winning_team'] == 'Portugal']

,year,country,city,stage,home_team,away_team,home_score,away_score,winning_team,losing_team,date,dayofweek
175,1966,England,Manchester,Group 3,Hungary,Portugal,1,3,Portugal,Hungary,1966-07-13,Wednesday
181,1966,England,Manchester,Group 3,Bulgaria,Portugal,0,3,Portugal,Bulgaria,1966-07-16,Saturday
185,1966,England,Liverpool,Group 3,Brazil,Portugal,1,3,Portugal,Brazil,1966-07-19,Tuesday
195,1966,England,Liverpool,Quarterfinals,North Korea,Portugal,3,5,Portugal,North Korea,1966-07-23,Saturday
198,1966,England,London,Third place,Portugal,Russia,2,1,Portugal,Soviet Union,1966-07-28,Thursday
368,1986,Mexico,Monterrey,Group F,Portugal,England,1,0,Portugal,England,1986-06-03,Tuesday
610,2002,South Korea,Jeonju,Group D,Portugal,Poland,4,0,Portugal,Poland,2002-06-10,Monday
649,2006,Germany,Cologne,Group D,Angola,Portugal,0,1,Portugal,Angola,2006-06-11,Sunday
669,2006,Germany,Frankfurt am Main,Group D,Portugal,Iran,2,0,Portugal,Iran,2006-06-17,Saturday
683,2006,Germany,Gelsenkirchen,Group D,Portugal,Mexico,2,1,Portugal,Mexico,2006-06-21,Wednesday
695,2006,Germany,Nuremberg,Round of 16,Portugal,Netherlands,1,0,Portugal,Netherlands,2006-06-25,Sunday
738,2010,South Africa,Cape Town,Group G,Portugal,North Korea,7,0,Portugal,North Korea,2010-06-21,Monday
818,2014,Brazil,BrasÃ­lia,Group G,Portugal,Ghana,2,1,Portugal,Ghana,2014-06-26,Thursday
853,2018,Russia,Moscow,Group B,Portugal,Morocco,1,0,Portugal,Morocco,2018-06-20,Wednesday

In [30]:
wcmatch[wcmatch['winning_team'] == 'Cuba']

,year,country,city,stage,home_team,away_team,home_score,away_score,winning_team,losing_team,date,dayofweek
42,1938,France,Toulouse,Round of 16,Cuba,Romania,2,1,Cuba,Romania,1938-06-09,Thursday

In [31]:
wcmatch[wcmatch['away_team'] == 'Cuba']

Empty DataFrame
Columns: [year, country, city, stage, home_team, away_team, home_score, away_score, winning_team, losing_team, date, dayofweek]
Index: []

In [32]:
wcmatch[wcmatch['winning_team'] == 'Wales']

,year,country,city,stage,home_team,away_team,home_score,away_score,winning_team,losing_team,date,dayofweek
127,1958,Sweden,Solna,Group 3,Hungary,Wales,1,2,Wales,Hungary,1958-06-17,Tuesday

In [33]:
wcmatch[wcmatch['away_team'] == 'Wales']

,year,country,city,stage,home_team,away_team,home_score,away_score,winning_team,losing_team,date,dayofweek
106,1958,Sweden,Sandviken,Group 3,Hungary,Wales,1,1,tie,tie,1958-06-08,Sunday
114,1958,Sweden,Solna,Group 3,Mexico,Wales,1,1,tie,tie,1958-06-11,Wednesday
124,1958,Sweden,Solna,Group 3,Sweden,Wales,0,0,tie,tie,1958-06-15,Sunday
127,1958,Sweden,Solna,Group 3,Hungary,Wales,1,2,Wales,Hungary,1958-06-17,Tuesday
128,1958,Sweden,Gothenburg,Quarterfinals,Brazil,Wales,1,0,Brazil,Wales,1958-06-19,Thursday

In [34]:
wcmatch['winning_team'] = wcmatch['winning_team'].str.replace('Portagul', 'Portugal')

In [35]:
z =  [x for x in team1 if x not in win]
print(z)

['Dutch West Indies', 'El Salvador', 'Haiti', 'Zaire', 'New Zealand', 'Honduras', 'Kuwait', 'Iraq', 'Canada', 'Egypt', 'United Arab Emirates', 'Bolivia', 'China PR', 'Togo', 'Trinidad and Tobago', 'Angola', 'Iceland', 'Panama']

In [36]:
teams_never_won = list(set(y) | set(z))
teams_never_won

['Iraq',
 'Iceland',
 'Zaire',
 'Angola',
 'Bolivia',
 'Canada',
 'Haiti',
 'China PR',
 'Kuwait',
 'Panama',
 'Dutch West Indies',
 'New Zealand',
 'Togo',
 'El Salvador',
 'Egypt',
 'Honduras',
 'United Arab Emirates',
 'Israel',
 'Trinidad and Tobago']

In [37]:
# country wise

def cwise(country, year):
    if country == 'Overall' and year == 'Overall':
        temp_df1 = wcmatch
    elif country != 'Overall' and year == 'Overall':
        temp_df1 = wcmatch[(wcmatch['home_team'] == country) | (wcmatch['away_team'] == country)]
    elif country == 'Overall' and year != 'Overall':
        temp_df1 = wcmatch[wcmatch['year'] == int(year)]
    elif country != 'Overall' and year != 'Overall':
        temp_df1 = wcmatch[((wcmatch['home_team'] == country) | (wcmatch['away_team'] == country)) & (wcmatch['year'] == int(year))]
        temp_df1 = wcmatch[(wcmatch['away_team'] == country) & (wcmatch['year'] == int(year))]
    if temp_df1.empty:
        st.title('This country did not play this year')
    else:
        return temp_df1

In [38]:
cwise(country='Argentina', year='Overall')

,year,country,city,stage,home_team,away_team,home_score,away_score,winning_team,losing_team,date,dayofweek
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,Argentina,France,1930-07-15,Tuesday
9,1930,Uruguay,Montevideo,Group 1,Argentina,Mexico,6,3,Argentina,Mexico,1930-07-19,Saturday
14,1930,Uruguay,Montevideo,Group 1,Argentina,Chile,3,1,Argentina,Chile,1930-07-22,Tuesday
15,1930,Uruguay,Montevideo,Semifinals,Argentina,United States,6,1,Argentina,United States,1930-07-26,Saturday
17,1930,Uruguay,Montevideo,Final,Uruguay,Argentina,4,2,Uruguay,Argentina,1930-07-30,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...
835,2014,Brazil,Rio de Janeiro,Final,Germany,Argentina,1,0,Germany,Argentina,2014-07-13,Sunday
841,2018,Russia,Moscow,Group D,Argentina,Iceland,1,1,tie,tie,2018-06-16,Saturday
858,2018,Russia,Nizhny Novgorod,Group D,Argentina,Croatia,0,3,Croatia,Argentina,2018-06-21,Thursday
874,2018,Russia,Saint Petersburg,Group D,Nigeria,Argentina,1,2,Argentina,Nigeria,2018-06-26,Tuesday
884,2018,Russia,Kazan,Round of 16,France,Argentina,4,3,France,Argentina,2018-06-30,Saturday

In [39]:
wcmatch[wcmatch['year'] == 2002]

,year,country,city,stage,home_team,away_team,home_score,away_score,winning_team,losing_team,date,dayofweek
580,2002,South Korea,Seoul,Group A,France,Senegal,0,1,Senegal,France,2002-05-31,Friday
581,2002,Japan,Sapporo,Group E,Germany,Saudi Arabia,8,0,Germany,Saudi Arabia,2002-06-01,Saturday
582,2002,Japan,Niigata,Group E,Ireland,Cameroon,1,1,tie,tie,2002-06-01,Saturday
583,2002,South Korea,Ulsan,Group A,Uruguay,Denmark,1,2,Denmark,Uruguay,2002-06-01,Saturday
584,2002,Japan,Kashima,Group F,Argentina,Nigeria,1,0,Argentina,Nigeria,2002-06-02,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...
639,2002,Japan,Osaka,Quarterfinals,Senegal,Turkey,0,1,Turkey,Senegal,2002-06-22,Saturday
640,2002,South Korea,Seoul,Semifinals,South Korea,Germany,0,1,Germany,South Korea,2002-06-25,Tuesday
641,2002,Japan,Saitama,Semifinals,Brazil,Turkey,1,0,Brazil,Turkey,2002-06-26,Wednesday
642,2002,South Korea,Daegu,Third place,South Korea,Turkey,2,3,Turkey,South Korea,2002-06-29,Saturday
643,2002,Japan,Yokohama,Final,Germany,Brazil,0,2,Brazil,Germany,2002-06-30,Sunday

In [40]:
# position wise
mergedf = wc.merge(wcmatch, on='year')
mergedf

,year,host,winner,second,third,fourth,goals_scored,teams,games,attendance,...,city,stage,home_team,away_team,home_score,away_score,winning_team,losing_team,date,dayofweek
0,1930,Uruguay,Uruguay,Argentina,United States,Yugoslavia,70,13,18,434000,...,Montevideo,Group 1,France,Mexico,4,1,France,Mexico,1930-07-13,Sunday
1,1930,Uruguay,Uruguay,Argentina,United States,Yugoslavia,70,13,18,434000,...,Montevideo,Group 4,Belgium,United States,0,3,United States,Belgium,1930-07-13,Sunday
2,1930,Uruguay,Uruguay,Argentina,United States,Yugoslavia,70,13,18,434000,...,Montevideo,Group 2,Brazil,Yugoslavia,1,2,Yugoslavia,Brazil,1930-07-14,Monday
3,1930,Uruguay,Uruguay,Argentina,United States,Yugoslavia,70,13,18,434000,...,Montevideo,Group 3,Peru,Romania,1,3,Romania,Peru,1930-07-14,Monday
4,1930,Uruguay,Uruguay,Argentina,United States,Yugoslavia,70,13,18,434000,...,Montevideo,Group 1,Argentina,France,1,0,Argentina,France,1930-07-15,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
959,2018,Russia,France,Croatia,Belgium,England,169,32,64,3031768,...,Sochi,Quarterfinals,Russia,Croatia,2,2,Croatia,Russia,2018-07-07,Saturday
960,2018,Russia,France,Croatia,Belgium,England,169,32,64,3031768,...,Saint Petersburg,Semifinals,France,Belgium,1,0,France,Belgium,2018-07-10,Tuesday
961,2018,Russia,France,Croatia,Belgium,England,169,32,64,3031768,...,Moscow,Semifinals,Croatia,England,2,1,Croatia,England,2018-07-11,Wednesday
962,2018,Russia,France,Croatia,Belgium,England,169,32,64,3031768,...,Saint Petersburg,Third place,Belgium,England,2,0,Belgium,England,2018-07-14,Saturday
963,2018,Russia,France,Croatia,Belgium,England,169,32,64,3031768,...,Moscow,Final,France,Croatia,4,2,France,Croatia,2018-07-15,Sunday

In [41]:
t = mergedf.groupby('winner')

In [42]:
t.first()

,year,host,second,third,fourth,goals_scored,teams,games,attendance,country,city,stage,home_team,away_team,home_score,away_score,winning_team,losing_team,date,dayofweek
winner,,,,,,,,,,,,,,,,,,,,
Argentina,1978,Argentina,Netherlands,Brazil,Italy,102,16,38,1610215,Argentina,Buenos Aires,Group 2,Germany,Poland,0,0,tie,tie,1978-06-01,Thursday
Brazil,1958,Sweden,Sweden,France,Germany,126,16,35,868000,Sweden,MalmÃ¶,Group 1,Argentina,Germany,1,3,Germany,Argentina,1958-06-08,Sunday
England,1966,England,Germany,Portugal,Soviet Union,89,16,32,1614677,England,London,Group 1,England,Uruguay,0,0,tie,tie,1966-07-11,Monday
France,1998,France,Brazil,Croatia,Netherlands,171,32,64,2859234,France,Saint-Denis,Group A,Brazil,Scotland,2,1,Brazil,Scotland,1998-06-10,Wednesday
Germany,1954,Switzerland,Hungary,Austria,Uruguay,140,16,26,943000,Switzerland,ZÃ¼rich,Group 3,Austria,Scotland,1,0,Austria,Scotland,1954-06-16,Wednesday
Italy,1934,Italy,Czechoslovakia,Germany,Austria,70,16,17,395000,Italy,Bologna,Round of 16,Argentina,Sweden,2,3,Sweden,Argentina,1934-05-27,Sunday
Spain,2010,South Africa,Netherlands,Germany,Uruguay,145,32,64,2167984,South Africa,Johannesburg,Group A,South Africa,Mexico,1,1,tie,tie,2010-06-11,Friday
Uruguay,1930,Uruguay,Argentina,United States,Yugoslavia,70,13,18,434000,Uruguay,Montevideo,Group 1,France,Mexico,4,1,France,Mexico,1930-07-13,Sunday

In [43]:
wc['winner'].unique()

array(['Uruguay', 'Italy', 'Germany', 'Brazil', 'England', 'Argentina',
       'France', 'Spain'], dtype=object)

In [44]:
for key, item in t:
    print(t.get_group(key), "\n\n")

     year       host     winner       second   third   fourth  goals_scored  \
270  1978  Argentina  Argentina  Netherlands  Brazil    Italy           102
271  1978  Argentina  Argentina  Netherlands  Brazil    Italy           102
272  1978  Argentina  Argentina  Netherlands  Brazil    Italy           102
273  1978  Argentina  Argentina  Netherlands  Brazil    Italy           102
274  1978  Argentina  Argentina  Netherlands  Brazil    Italy           102
..    ...        ...        ...          ...     ...      ...           ...
407  1986     Mexico  Argentina      Germany  France  Belgium           132
408  1986     Mexico  Argentina      Germany  France  Belgium           132
409  1986     Mexico  Argentina      Germany  France  Belgium           132
410  1986     Mexico  Argentina      Germany  France  Belgium           132
411  1986     Mexico  Argentina      Germany  France  Belgium           132

     teams  games  attendance  ...           city          stage  home_team  \
270     16     38     1610215  ...   Buenos Aires        Group 2    Germany
271     16     38     1610215  ...   Buenos Aires        Group 1  Argentina
272     16     38     1610215  ...  Mar del Plata        Group 1     France
273     16     38     1610215  ...        Rosario        Group 2     Mexico
274     16     38     1610215  ...   Buenos Aires        Group 3    Austria
..     ...    ...         ...  ...            ...            ...        ...
407     24     52     2407431  ...         Puebla  Quarterfinals      Spain
408     24     52     2407431  ...    Mexico City     Semifinals  Argentina
409     24     52     2407431  ...    Guadalajara     Semifinals     France
410     24     52     2407431  ...         Puebla    Third place     France
411     24     52     2407431  ...    Mexico City          Final  Argentina

    away_team home_score  away_score  winning_team   losing_team        date  \
270    Poland          0           0           tie           tie  1978-06-01
271   Hungary          2           1     Argentina       Hungary  1978-06-02
272     Italy          1           2         Italy        France  1978-06-02
273   Tunisia          1           3       Tunisia        Mexico  1978-06-02
274     Spain          2           1       Austria         Spain  1978-06-03
..        ...        ...         ...           ...           ...         ...
407   Belgium          1           1       Belgium         Spain  1986-06-22
408   Belgium          2           0     Argentina       Belgium  1986-06-25
409   Germany          0           2       Germany        France  1986-06-25
410   Belgium          4           2        France       Belgium  1986-06-28
411   Germany          3           2     Argentina  West Germany  1986-06-29

     dayofweek
270   Thursday
271     Friday
272     Friday
273     Friday
274   Saturday
..         ...
407     Sunday
408  Wednesday
409  Wednesday
410   Saturday
411     Sunday

[90 rows x 21 columns]


     year    host  winner   second   third       fourth  goals_scored  teams  \
101  1958  Sweden  Brazil   Sweden  France      Germany           126     16
102  1958  Sweden  Brazil   Sweden  France      Germany           126     16
103  1958  Sweden  Brazil   Sweden  France      Germany           126     16
104  1958  Sweden  Brazil   Sweden  France      Germany           126     16
105  1958  Sweden  Brazil   Sweden  France      Germany           126     16
..    ...     ...     ...      ...     ...          ...           ...    ...
703  2002   Japan  Brazil  Germany  Turkey  South Korea           161     32
704  2002   Japan  Brazil  Germany  Turkey  South Korea           161     32
705  2002   Japan  Brazil  Germany  Turkey  South Korea           161     32
706  2002   Japan  Brazil  Germany  Turkey  South Korea           161     32
707  2002   Japan  Brazil  Germany  Turkey  South Korea           161     32

     games  attendance  ...        city          stage       home_team  \
101     35      868000  ...       MalmÃ¶        Group 1       Argentina
102     35      868000  ...   Uddevalla        Group 4         Austria
103     35      868000  ...    Halmstad        Group 1  Czechoslovakia
104     35      868000  ...  Gothenburg        Group 4         England
105     35      868000  ...  NorrkÃ¶ping        Group 2          France
..     ...         ...  ...         ...            ...             ...
703     64     2724604  ...       Osaka  Quarterfinals         Senegal
704     64     2724604  ...       Seoul     Semifinals     South Korea
705     64     2724604  ...     Saitama     Semifinals          Brazil
706     64     2724604  ...       Daegu    Third place     South Korea
707     64     2724604  ...    Yokohama          Final         Germany

    away_team home_score  away_score  winning_team     losing_team  \
101   Germany          1           3       Germany       Argentina
102    Brazil          0           3        Brazil         Austria
103   Ireland          0           1       Ireland  Czechoslovakia
104    Russia          2           2           tie             tie
105  Paraguay          7           3        France        Paraguay
..        ...        ...         ...           ...             ...
703    Turkey          0           1        Turkey         Senegal
704   Germany          0           1       Germany     South Korea
705    Turkey          1           0        Brazil          Turkey
706    Turkey          2           3        Turkey     South Korea
707    Brazil          0           2        Brazil         Germany

           date  dayofweek
101  1958-06-08     Sunday
102  1958-06-08     Sunday
103  1958-06-08     Sunday
104  1958-06-08     Sunday
105  1958-06-08     Sunday
..          ...        ...
703  2002-06-22   Saturday
704  2002-06-25    Tuesday
705  2002-06-26  Wednesday
706  2002-06-29   Saturday
707  2002-06-30     Sunday

[279 rows x 21 columns]


     year     host   winner   second     third        fourth  goals_scored  \
168  1966  England  England  Germany  Portugal  Soviet Union            89
169  1966  England  England  Germany  Portugal  Soviet Union            89
170  1966  England  England  Germany  Portugal  Soviet Union            89
171  1966  England  England  Germany  Portugal  Soviet Union            89
172  1966  England  England  Germany  Portugal  Soviet Union            89
173  1966  England  England  Germany  Portugal  Soviet Union            89
174  1966  England  England  Germany  Portugal  Soviet Union            89
175  1966  England  England  Germany  Portugal  Soviet Union            89
176  1966  England  England  Germany  Portugal  Soviet Union            89
177  1966  England  England  Germany  Portugal  Soviet Union            89
178  1966  England  England  Germany  Portugal  Soviet Union            89
179  1966  England  England  Germany  Portugal  Soviet Union            89
180  1966  England  England  Germany  Portugal  Soviet Union            89
181  1966  England  England  Germany  Portugal  Soviet Union            89
182  1966  England  England  Germany  Portugal  Soviet Union            89
183  1966  England  England  Germany  Portugal  Soviet Union            89
184  1966  England  England  Germany  Portugal  Soviet Union            89
185  1966  England  England  Germany  Portugal  Soviet Union            89
186  1966  England  England  Germany  Portugal  Soviet Union            89
187  1966  England  England  Germany  Portugal  Soviet Union            89
188  1966  England  England  Germany  Portugal  Soviet Union            89
189  1966  England  England  Germany  Portugal  Soviet Union            89
190  1966  England  England  Germany  Portugal  Soviet Union            89
191  1966  England  England  Germany  Portugal  Soviet Union            89
192  1966  England  England  Germany  Portugal  Soviet Union            89
193  1966  England  England  Germany  Portugal  Soviet Union            89
194  1966  England  England  Germany  Portugal  Soviet Union            89
195  1966  England  England  Germany  Portugal  Soviet Union            89
196  1966  England  England  Germany  Portugal  Soviet Union            89
197  1966  England  England  Germany  Portugal  Soviet Union            89
198  1966  England  England  Germany  Portugal  Soviet Union            89
199  1966  England  England  Germany  Portugal  Soviet Union            89

     teams  games  attendance  ...           city          stage    home_team  \
168     16     32     1614677  ...         London        Group 1      England
169     16     32     1614677  ...      Liverpool        Group 3       Brazil
170     16     32     1614677  ...      Sheffield        Group 2      Germany
171     16     32     1614677  ...  Middlesbrough        Group 4  North Korea
172     16     32     1614677  ...     Birmingham        Group 2    Argentina
173     16     32     1614677  ...     Sunderland        Group 4        Chile
174     16     32     1614677  ...         London        Group 1       France
175     16     32     1614677  ...     Manchester        Group 3      Hungary
176     16     32     1614677  ...      Liverpool        Group 3       Brazil
177     16     32     1614677  ...  Middlesbrough        Group 4        Chile
178     16     32     1614677  ...         London        Group 1       France
179     16     32     1614677  ...      Sheffield        Group 2        Spain
180     16     32     1614677  ...     Birmingham        Group 2    Argentina
181     16     32     1614677  ...     Manchester        Group 3     Bulgaria
182     16     32     1614677  ...         London        Group 1      England
183     16     32     1614677  ...     Sunderland        Group 4        Italy
184     16     32     1614677  ...      Sheffield        Group 2    Argentina
185     16     32     1614677  ...      Liverpool        Group 3       Brazil
186     16     32     1614677  ...  Middlesbrough        Group 4        Italy
187     16     32     1614677  ...         London        Group 1       Mexico
188     16     32     1614677  ...     Manchester        Group 3     Bulgaria
189     16     32     1614677  ...     Sunderland        Group 4        Chile
190     16     32     1614677  ...         London        Group 1      England
191     16     32     1614677  ...     Birmingham        Group 2      Germany
192     16     32     1614677  ...         London  Quarterfinals      England
193     16     32     1614677  ...      Sheffield  Quarterfinals      Germany
194     16     32     1614677  ...     Sunderland  Quarterfinals      Hungary
195     16     32     1614677  ...      Liverpool  Quarterfinals  North Korea
196     16     32     1614677  ...      Liverpool     Semifinals      Germany
197     16     32     1614677  ...         London     Semifinals      England
198     16     32     1614677  ...         London    Third place     Portugal
199     16     32     1614677  ...         London          Final      England

       away_team home_score  away_score  winning_team   losing_team  \
168      Uruguay          0           0           tie           tie
169     Bulgaria          2           0        Brazil      Bulgaria
170  Switzerland          5           0       Germany   Switzerland
171       Russia          0           3        Russia   North Korea
172        Spain          2           1     Argentina         Spain
173        Italy          0           2         Italy         Chile
174       Mexico          1           1           tie           tie
175     Portugal          1           3      Portugal       Hungary
176      Hungary          1           3       Hungary        Brazil
177  North Korea          1           1           tie           tie
178      Uruguay          1           2       Uruguay        France
179  Switzerland          2           1         Spain   Switzerland
180      Germany          0           0           tie           tie
181     Portugal          0           3      Portugal      Bulgaria
182       Mexico          2           0       England        Mexico
183       Russia          0           1        Russia         Italy
184  Switzerland          2           0     Argentina   Switzerland
185     Portugal          1           3      Portugal        Brazil
186  North Korea          0           1   North Korea         Italy
187      Uruguay          0           0           tie           tie
188      Hungary          1           3       Hungary      Bulgaria
189       Russia          1           2        Russia         Chile
190       France          2           0       England        France
191        Spain          2           1       Germany         Spain
192    Argentina          1           0       England     Argentina
193      Uruguay          4           0       Germany       Uruguay
194       Russia          1           2        Russia       Hungary
195     Portugal          3           5      Portugal   North Korea
196       Russia          2           1       Germany  Soviet Union
197     Portugal          2           1       England      Portugal
198       Russia          2           1      Portugal  Soviet Union
199      Germany          4           2       England  West Germany

           date  dayofweek
168  1966-07-11     Monday
169  1966-07-12    Tuesday
170  1966-07-12    Tuesday
171  1966-07-12    Tuesday
172  1966-07-13  Wednesday
173  1966-07-13  Wednesday
174  1966-07-13  Wednesday
175  1966-07-13  Wednesday
176  1966-07-15     Friday
177  1966-07-15     Friday
178  1966-07-15     Friday
179  1966-07-15     Friday
180  1966-07-16   Saturday
181  1966-07-16   Saturday
182  1966-07-16   Saturday
183  1966-07-16   Saturday
184  1966-07-19    Tuesday
185  1966-07-19    Tuesday
186  1966-07-19    Tuesday
187  1966-07-19    Tuesday
188  1966-07-20  Wednesday
189  1966-07-20  Wednesday
190  1966-07-20  Wednesday
191  1966-07-20  Wednesday
192  1966-07-23   Saturday
193  1966-07-23   Saturday
194  1966-07-23   Saturday
195  1966-07-23   Saturday
196  1966-07-25     Monday
197  1966-07-26    Tuesday
198  1966-07-28   Thursday
199  1966-07-30   Saturday

[32 rows x 21 columns]


     year    host  winner   second    third       fourth  goals_scored  teams  \
516  1998  France  France   Brazil  Croatia  Netherlands           171     32
517  1998  France  France   Brazil  Croatia  Netherlands           171     32
518  1998  France  France   Brazil  Croatia  Netherlands           171     32
519  1998  France  France   Brazil  Croatia  Netherlands           171     32
520  1998  France  France   Brazil  Croatia  Netherlands           171     32
..    ...     ...     ...      ...      ...          ...           ...    ...
959  2018  Russia  France  Croatia  Belgium      England           169     32
960  2018  Russia  France  Croatia  Belgium      England           169     32
961  2018  Russia  France  Croatia  Belgium      England           169     32
962  2018  Russia  France  Croatia  Belgium      England           169     32
963  2018  Russia  France  Croatia  Belgium      England           169     32

     games  attendance  ...              city          stage home_team  \
516     64     2859234  ...       Saint-Denis        Group A    Brazil
517     64     2859234  ...       Montpellier        Group A   Morocco
518     64     2859234  ...          Toulouse        Group B  Cameroon
519     64     2859234  ...          Bordeaux        Group B     Italy
520     64     2859234  ...         Marseille        Group C    France
..     ...         ...  ...               ...            ...       ...
959     64     3031768  ...             Sochi  Quarterfinals    Russia
960     64     3031768  ...  Saint Petersburg     Semifinals    France
961     64     3031768  ...            Moscow     Semifinals   Croatia
962     64     3031768  ...  Saint Petersburg    Third place   Belgium
963     64     3031768  ...            Moscow          Final    France

        away_team home_score  away_score  winning_team   losing_team  \
516      Scotland          2           1        Brazil      Scotland
517        Norway          2           2           tie           tie
518       Austria          1           1           tie           tie
519         Chile          2           2           tie           tie
520  South Africa          3           0        France  South Africa
..            ...        ...         ...           ...           ...
959       Croatia          2           2       Croatia        Russia
960       Belgium          1           0        France       Belgium
961       England          2           1       Croatia       England
962       England          2           0       Belgium       England
963       Croatia          4           2        France       Croatia

           date  dayofweek
516  1998-06-10  Wednesday
517  1998-06-10  Wednesday
518  1998-06-11   Thursday
519  1998-06-11   Thursday
520  1998-06-12     Friday
..          ...        ...
959  2018-07-07   Saturday
960  2018-07-10    Tuesday
961  2018-07-11  Wednesday
962  2018-07-14   Saturday
963  2018-07-15     Sunday

[128 rows x 21 columns]


     year         host   winner     second        third   fourth  \
75   1954  Switzerland  Germany    Hungary      Austria  Uruguay
76   1954  Switzerland  Germany    Hungary      Austria  Uruguay
77   1954  Switzerland  Germany    Hungary      Austria  Uruguay
78   1954  Switzerland  Germany    Hungary      Austria  Uruguay
79   1954  Switzerland  Germany    Hungary      Austria  Uruguay
..    ...          ...      ...        ...          ...      ...
895  2014       Brazil  Germany  Argentina  Netherlands   Brazil
896  2014       Brazil  Germany  Argentina  Netherlands   Brazil
897  2014       Brazil  Germany  Argentina  Netherlands   Brazil
898  2014       Brazil  Germany  Argentina  Netherlands   Brazil
899  2014       Brazil  Germany  Argentina  Netherlands   Brazil

     goals_scored  teams  games  attendance  ...            city  \
75            140     16     26      943000  ...          ZÃ¼rich
76            140     16     26      943000  ...          Geneva
77            140     16     26      943000  ...           Berne
78            140     16     26      943000  ...        Lausanne
79            140     16     26      943000  ...           Basel
..            ...    ...    ...         ...  ...             ...
895           171     32     64     3441450  ...        Salvador
896           171     32     64     3441450  ...  Belo Horizonte
897           171     32     64     3441450  ...       SÃ£o Paulo
898           171     32     64     3441450  ...        BrasÃ­lia
899           171     32     64     3441450  ...  Rio de Janeiro

             stage       home_team    away_team home_score  away_score  \
75         Group 3         Austria     Scotland          1           0
76         Group 1          Brazil       Mexico          5           0
77         Group 3  Czechoslovakia      Uruguay          0           2
78         Group 1          France   Yugoslavia          0           1
79         Group 4         Belgium      England          4           4
..             ...             ...          ...        ...         ...
895  Quarterfinals     Netherlands   Costa Rica          0           0
896     Semifinals          Brazil      Germany          1           7
897     Semifinals     Netherlands    Argentina          0           0
898    Third place          Brazil  Netherlands          0           3
899          Final         Germany    Argentina          1           0

     winning_team     losing_team        date  dayofweek
75        Austria        Scotland  1954-06-16  Wednesday
76         Brazil          Mexico  1954-06-16  Wednesday
77        Uruguay  Czechoslovakia  1954-06-16  Wednesday
78     Yugoslavia          France  1954-06-16  Wednesday
79            tie             tie  1954-06-17   Thursday
..            ...             ...         ...        ...
895   Netherlands      Costa Rica  2014-07-05   Saturday

In [45]:
mergedf[mergedf['winner'] == 'Brazil']

,year,host,winner,second,third,fourth,goals_scored,teams,games,attendance,...,city,stage,home_team,away_team,home_score,away_score,winning_team,losing_team,date,dayofweek
101,1958,Sweden,Brazil,Sweden,France,Germany,126,16,35,868000,...,MalmÃ¶,Group 1,Argentina,Germany,1,3,Germany,Argentina,1958-06-08,Sunday
102,1958,Sweden,Brazil,Sweden,France,Germany,126,16,35,868000,...,Uddevalla,Group 4,Austria,Brazil,0,3,Brazil,Austria,1958-06-08,Sunday
103,1958,Sweden,Brazil,Sweden,France,Germany,126,16,35,868000,...,Halmstad,Group 1,Czechoslovakia,Ireland,0,1,Ireland,Czechoslovakia,1958-06-08,Sunday
104,1958,Sweden,Brazil,Sweden,France,Germany,126,16,35,868000,...,Gothenburg,Group 4,England,Russia,2,2,tie,tie,1958-06-08,Sunday
105,1958,Sweden,Brazil,Sweden,France,Germany,126,16,35,868000,...,NorrkÃ¶ping,Group 2,France,Paraguay,7,3,France,Paraguay,1958-06-08,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,2002,Japan,Brazil,Germany,Turkey,South Korea,161,32,64,2724604,...,Osaka,Quarterfinals,Senegal,Turkey,0,1,Turkey,Senegal,2002-06-22,Saturday
704,2002,Japan,Brazil,Germany,Turkey,South Korea,161,32,64,2724604,...,Seoul,Semifinals,South Korea,Germany,0,1,Germany,South Korea,2002-06-25,Tuesday
705,2002,Japan,Brazil,Germany,Turkey,South Korea,161,32,64,2724604,...,Saitama,Semifinals,Brazil,Turkey,1,0,Brazil,Turkey,2002-06-26,Wednesday
706,2002,Japan,Brazil,Germany,Turkey,South Korea,161,32,64,2724604,...,Daegu,Third place,South Korea,Turkey,2,3,Turkey,South Korea,2002-06-29,Saturday
707,2002,Japan,Brazil,Germany,Turkey,South Korea,161,32,64,2724604,...,Yokohama,Final,Germany,Brazil,0,2,Brazil,Germany,2002-06-30,Sunday

In [46]:
def posic(mergedf):
    winner = mergedf['winner'].unique()
    winner.sort()
    sec = mergedf['second'].unique()
    sec.sort()
    third = mergedf['third'].unique()
    third.sort()
    fourth = mergedf['fourth'].unique()
    fourth.sort()
    return winner, sec, third, fourth

In [47]:
posic(mergedf)

(array(['Argentina', 'Brazil', 'England', 'France', 'Germany', 'Italy',
        'Spain', 'Uruguay'], dtype=object),
 array(['Argentina', 'Brazil', 'Croatia', 'Czechoslovakia', 'France',
        'Germany', 'Hungary', 'Italy', 'Netherlands', 'Sweden'],
       dtype=object),
 array(['Austria', 'Belgium', 'Brazil', 'Chile', 'Croatia', 'France',
        'Germany', 'Italy', 'Netherlands', 'Poland', 'Portugal', 'Sweden',
        'Turkey', 'United States'], dtype=object),
 array(['Austria', 'Belgium', 'Brazil', 'Bulgaria', 'England', 'France',
        'Germany', 'Italy', 'Netherlands', 'Portugal', 'South Korea',
        'Soviet Union', 'Spain', 'Sweden', 'Uruguay', 'Yugoslavia'],
       dtype=object))

In [48]:
def posi(mergedf, c):
    winner = mergedf[mergedf['winner'] == c]
    sec = mergedf[mergedf['second'] == c]
    third = mergedf[mergedf['third'] == c]
    fourth = mergedf[mergedf['fourth'] == c]
    
    return winner, sec, third, fourth

In [49]:
mergedf[mergedf['year'] == 1950]

,year,host,winner,second,third,fourth,goals_scored,teams,games,attendance,...,city,stage,home_team,away_team,home_score,away_score,winning_team,losing_team,date,dayofweek
53,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,Rio de Janeiro,Group 1,Brazil,Mexico,4,0,Brazil,Mexico,1950-06-24,Saturday
54,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,Rio de Janeiro,Group 2,Chile,England,0,2,England,Chile,1950-06-25,Sunday
55,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,SÃ£o Paulo,Group 3,Italy,Sweden,2,3,Sweden,Italy,1950-06-25,Sunday
56,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,Curitiba,Group 2,Spain,United States,3,1,Spain,United States,1950-06-25,Sunday
57,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,Belo Horizonte,Group 1,Switzerland,Yugoslavia,0,3,Yugoslavia,Switzerland,1950-06-25,Sunday
58,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,SÃ£o Paulo,Group 1,Brazil,Switzerland,2,2,tie,tie,1950-06-28,Wednesday
59,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,Porto Alegre,Group 1,Mexico,Yugoslavia,1,4,Yugoslavia,Mexico,1950-06-28,Wednesday
60,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,Rio de Janeiro,Group 2,Chile,Spain,0,2,Spain,Chile,1950-06-29,Thursday
61,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,Belo Horizonte,Group 2,England,United States,0,1,United States,England,1950-06-29,Thursday
62,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,Curitiba,Group 3,Paraguay,Sweden,2,2,tie,tie,1950-06-29,Thursday
63,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,Rio de Janeiro,Group 1,Brazil,Yugoslavia,2,0,Brazil,Yugoslavia,1950-07-01,Saturday
64,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,Belo Horizonte,Group 4,Bolivia,Uruguay,0,8,Uruguay,Bolivia,1950-07-02,Sunday
65,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,Recife,Group 2,Chile,United States,5,2,Chile,United States,1950-07-02,Sunday
66,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,Rio de Janeiro,Group 2,England,Spain,0,1,Spain,England,1950-07-02,Sunday
67,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,SÃ£o Paulo,Group 3,Italy,Paraguay,2,0,Italy,Paraguay,1950-07-02,Sunday
68,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,Porto Alegre,Group 1,Mexico,Switzerland,1,2,Switzerland,Mexico,1950-07-02,Sunday
69,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,Rio de Janeiro,Final Round,Brazil,Sweden,7,1,Brazil,Sweden,1950-07-09,Sunday
70,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,SÃ£o Paulo,Final Round,Spain,Uruguay,2,2,tie,tie,1950-07-09,Sunday
71,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,Rio de Janeiro,Final Round,Brazil,Spain,6,1,Brazil,Spain,1950-07-13,Thursday
72,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,SÃ£o Paulo,Final Round,Sweden,Uruguay,2,3,Uruguay,Sweden,1950-07-13,Thursday
73,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,Rio de Janeiro,Final Round,Brazil,Uruguay,1,2,Uruguay,Brazil,1950-07-16,Sunday
74,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000,...,SÃ£o Paulo,Final Round,Spain,Sweden,1,3,Sweden,Spain,1950-07-16,Sunday

In [50]:
posimerge = mergedf[['year', 'winner', 'second', 'third', 'fourth']]
posimerge = posimerge.drop_duplicates()

In [51]:
posi_value = posimerge.values

In [52]:
posi_value[0,2]

'Argentina'

In [53]:
mergedf

,year,host,winner,second,third,fourth,goals_scored,teams,games,attendance,...,city,stage,home_team,away_team,home_score,away_score,winning_team,losing_team,date,dayofweek
0,1930,Uruguay,Uruguay,Argentina,United States,Yugoslavia,70,13,18,434000,...,Montevideo,Group 1,France,Mexico,4,1,France,Mexico,1930-07-13,Sunday
1,1930,Uruguay,Uruguay,Argentina,United States,Yugoslavia,70,13,18,434000,...,Montevideo,Group 4,Belgium,United States,0,3,United States,Belgium,1930-07-13,Sunday
2,1930,Uruguay,Uruguay,Argentina,United States,Yugoslavia,70,13,18,434000,...,Montevideo,Group 2,Brazil,Yugoslavia,1,2,Yugoslavia,Brazil,1930-07-14,Monday
3,1930,Uruguay,Uruguay,Argentina,United States,Yugoslavia,70,13,18,434000,...,Montevideo,Group 3,Peru,Romania,1,3,Romania,Peru,1930-07-14,Monday
4,1930,Uruguay,Uruguay,Argentina,United States,Yugoslavia,70,13,18,434000,...,Montevideo,Group 1,Argentina,France,1,0,Argentina,France,1930-07-15,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
959,2018,Russia,France,Croatia,Belgium,England,169,32,64,3031768,...,Sochi,Quarterfinals,Russia,Croatia,2,2,Croatia,Russia,2018-07-07,Saturday
960,2018,Russia,France,Croatia,Belgium,England,169,32,64,3031768,...,Saint Petersburg,Semifinals,France,Belgium,1,0,France,Belgium,2018-07-10,Tuesday
961,2018,Russia,France,Croatia,Belgium,England,169,32,64,3031768,...,Moscow,Semifinals,Croatia,England,2,1,Croatia,England,2018-07-11,Wednesday
962,2018,Russia,France,Croatia,Belgium,England,169,32,64,3031768,...,Saint Petersburg,Third place,Belgium,England,2,0,Belgium,England,2018-07-14,Saturday
963,2018,Russia,France,Croatia,Belgium,England,169,32,64,3031768,...,Moscow,Final,France,Croatia,4,2,France,Croatia,2018-07-15,Sunday

In [54]:
winnergoal = mergedf[mergedf['winner'] == mergedf['home_team']]
winnergoal1 = mergedf[mergedf['winner'] == mergedf['away_team']]

In [55]:
wg = winnergoal.groupby('winner')['home_score'].sum()
wg1 = winnergoal1.groupby('winner')['away_score'].sum()

In [56]:
w = wg.add(wg1, fill_value=0).astype('int')

In [57]:
w

winner
Argentina    29
Brazil       96
England      11
France       29
Germany      76
Italy        47
Spain         8
Uruguay      30
dtype: int32

In [58]:
w.values[0]

29

In [59]:
secondgoal = mergedf[mergedf['second'] == mergedf['home_team']]
secondgoal1 = mergedf[mergedf['second'] == mergedf['away_team']]

In [60]:
sg = secondgoal.groupby('second')['home_score'].sum()
sg1 = secondgoal1.groupby('second')['away_score'].sum()

In [61]:
s = sg.add(sg1, fill_value=0).astype('int')

In [62]:
s

second
Argentina         31
Brazil            36
Croatia           14
Czechoslovakia    16
France             9
Germany           63
Hungary           42
Italy             18
Netherlands       42
Sweden            12
dtype: int32

In [63]:
thirdgoal = mergedf[mergedf['third'] == mergedf['home_team']]
thirdgoal1 = mergedf[mergedf['third'] == mergedf['away_team']]
tg = thirdgoal.groupby('third')['home_score'].sum()
tg1 = thirdgoal1.groupby('third')['away_score'].sum()
t = tg.add(tg1, fill_value=0).astype('int')

In [64]:
t

third
Austria          17
Belgium          16
Brazil           24
Chile            10
Croatia          11
France           35
Germany          58
Italy            10
Netherlands      15
Poland           27
Portugal         17
Sweden           26
Turkey           20
United States     7
dtype: int32

In [65]:
a = mergedf[mergedf['winner'] == mergedf['winning_team']]

In [66]:
b = a['winning_team'].value_counts()

In [67]:
b

winning_team
Brazil       36
Germany      25
Italy        18
France       13
Argentina    11
Uruguay       7
Spain         6
England       5
Name: count, dtype: int64

In [73]:
mergedf = mergedf[mergedf['year'] == 1930]

In [74]:
matchlos = mergedf[mergedf['winner'] == mergedf['losing_team']]
ml = matchlos['losing_team'].value_counts()

matchlos1 = mergedf[mergedf['second'] == mergedf['losing_team']]
ml1 = matchlos1['losing_team'].value_counts()

matchlos2 = mergedf[mergedf['third'] == mergedf['losing_team']]
ml2 = matchlos2['losing_team'].value_counts()

matchlos3 = mergedf[mergedf['fourth'] == mergedf['losing_team']]
ml3 = matchlos3['losing_team'].value_counts()

In [75]:
ml

Series([], Name: count, dtype: int64)

In [76]:
ml1

losing_team
Argentina    1
Name: count, dtype: int64

In [82]:
overvalue = wc[wc['year'] == 1930]
overall = overvalue[['goals_scored', 'teams', 'games']]
ov = overall.values

In [87]:
ov

array([[70, 13, 18]], dtype=int64)